* {
    background-color: hsl(35, 49%, 62%)
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

#image-home {
    width: 450px;
    height: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
}

h2, 
h3 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    text-align: left;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

ul,
ol {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-header {
    font-size: 48px;
}

.home-food-lists {
    display: table;
    margin: 0 auto;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}